*.pyc
*~
.DS_Store

#.idea/*
#/import/*
#/live/*
#/conf/*.env
#/docs/_build

# Common machine-specific settings files.
biostar/biostar/settings/local*.py
biostar/biostar/settings/production*.py
biostar/biostar/settings/staging*.py
biostar/biostar/settings/test*.py

# Common machine-specific requirements files.
biostar/conf/requirements/local*.txt
biostar/conf/requirements/production*.txt
biostar/conf/requirements/staging*.txt
biostar/conf/requirements/test*.txt

# Common machine-specific logger files.
biostar/biostar/settings/logger_*.py

