<h1>post details</h1>
{% if post %}
url=<a href="{{post.news_url}}">{{post.news_url}}</a><br/> 
reason={{post.reason}}<br/> 
time={{post.time}}<br/>
vote={{post.vote}}<br/>
views={{post.views}}<br/>
{% endif %}

<h1>list of responses</h1>
{% if response_list %}
<ul>
    {% for response in response_list %}
    <li>id={{response.id}}<br/>
    response_text={{response.response_text}}<br/>
    upvote={{response.upvote}}<br/>
    downvote={{response.downvote}}<br/>
    time={{response.time}}
    </li>
    {% endfor %}
</ul>
{% else %}
    <p>no response so far</p>
{% endif %}


<h1>add response</h1>

<form action="{% url 'addresponse' %}" method="post">
{% csrf_token %}
<input type="hidden" name="post_id" value="{{post.id}}">
<label for="response_text">打臉文寫作處</label><br/>
<textarea name="response_text" id="response_text" rows="20" cols="80">
</textarea><br/>
<!--<input name="response_text" id="response_text"/>-->
<input type="submit" value="送出"/>
</form>
