{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'slapmaster/style.css' %}">

{% include "slapmaster/user_info.html" %}

<h1>all posts</h1>

{% if post_list %}
    <ul>
    {% for post in post_list %}
    <li><a href={% url 'post_detail' post.id %}>id={{post.id}}</a><br/> 
    url=<a href="{{post.news_url}}">{{post.news_url}}</a><br/> 
    reason={{post.reason}}<br/> 
    author={{post.author.nickname}}<br/>
    time={{post.time}}<br/>
    vote={{post.vote}}<br/>
    views={{post.views}}<br/>
    </li>
    {% endfor %}
    </ul>
{% else %}
    <p>no posts are available</p>
{% endif %}

<h1>add post</h1>

<form action="{% url 'addpost' %}" method="post">
{% csrf_token %}
<label for="news_url">新聞連結</label><br/>
<input type="text" name="news_url" id="news_url"><br/>
<label for="reason">簡述欠打原因</label><br/>
<input type="text" name="reason" id="reason"><br/>
<input type="submit" value="送出"/>
</form>
