
{% include "slapmaster/user_info.html" %}

<h1>user preferences</h1>

<form action="{% url 'user_prefs_save' %}" method="post">
{% csrf_token %}
<label for="fb_link">公開臉書帳號?</label><br/>
<input type="checkbox" name="fb_link" id="fb_link" value="true" {% if fb_link %} checked {% endif %}/>
<br/>
<label for="nickname">顯示名稱</label><br/>
<input type="input" name="nickname" id="nickname" value="{{nickname}}"/>
<br/>
<label for="reputation">打臉成就</label><br/>
<input type="input" name="reputation" id="reputation" value="{{reputation}}" disabled/>
<br/>
<input type="submit" value="送出"/>
</form>
